In [26]:
import pandas as pd
import matplotlib.pyplot as plt

## Problem Statement 13: (Multi-line header)

In [27]:
hospital_data = pd.read_csv("Data\government_hospitals.csv", header=[0, 1])
hospital_data.head(5)

,States/UTs,Rural hospitals,Unnamed: 2_level_0,Urban hospitals,Unnamed: 4_level_0,As on
,Unnamed: 0_level_1,No.,Beds,No.,Beds,Unnamed: 5_level_1
0,Andhra Pradesh,193,6480,65,16658,01.01.2017
1,Arunachal Pradesh*,208,2136,10,268,31.12.2017
2,Assam,1176,10944,50,6198,31.12.2017
3,Bihar,930,6083,103,5936,31.12.2016
4,Chhattisgarh,169,5070,45,4342,01.01.2016

In [28]:
hospital_data.columns = ['State/UT', 'Rural_Government_Hospitals', 'Rural_Government_Beds', 
                         'Urban_Government_Hospitals', 'Urban_Government_Beds', 'Last_Updated']

## Problem Statement 14: (Data update and code reuse)

In [29]:
hospital_data['Last_Updated'] = pd.to_datetime(hospital_data['Last_Updated'], format='%d.%m.%Y').dt.strftime('%Y-%m-%d')

In [30]:
hospital_data

,State/UT,Rural_Government_Hospitals,Rural_Government_Beds,Urban_Government_Hospitals,Urban_Government_Beds,Last_Updated
0,Andhra Pradesh,193,6480,65,16658,2017-01-01
1,Arunachal Pradesh*,208,2136,10,268,2017-12-31
2,Assam,1176,10944,50,6198,2017-12-31
3,Bihar,930,6083,103,5936,2016-12-31
4,Chhattisgarh,169,5070,45,4342,2016-01-01
5,Goa*,17,1405,25,1608,2017-12-31
6,Gujarat,364,11715,122,20565,2016-12-31
7,Haryana*,609,6690,59,4550,2016-12-31
8,Himachal Pradesh*,705,5665,96,6734,2017-12-31
9,Jammu & Kashmir,56,7234,76,4417,2016-12-30
10,Jharkhand,519,5842,36,4942,2015-12-31
11,Karnataka*,2471,21072,374,49093,2017-12-31
12,Kerala,981,16865,299,21139,2017-01-01
13,Madhya Pradesh,334,10020,117,18819,2016-01-01
14,Maharashtra,273,12398,438,39048,2015-12-31
15,Manipur,23,730,7,697,2014-01-01
16,Meghalaya*,143,1970,14,2487,2017-12-31
17,Mizoram*,56,604,34,1393,2017-12-31
18,Nagaland,21,630,15,1250,2015-12-31
19,Odisha*,1655,6339,149,12180,2017-12-31
20,Punjab*,510,5805,172,12128,2017-12-31
21,Rajasthan,602,21088,150,10760,2016-12-31
22,Sikkim*,24,260,9,1300,2017-12-31
23,Tamil Nadu*,692,40179,525,37353,2017-12-31
24,Telangana*,802,7668,61,13315,2017-12-31
25,Tripura*,99,1140,56,3277,2017-12-31
26,Uttar Pradesh*,4442,39104,193,37156,2017-12-31
27,Uttarakhand,410,3284,50,5228,2015-12-31
28,West Bengal,1272,19684,294,58882,2015-01-01
29,Andaman & Nicobar Islands,27,575,3,500,2016-12-31
30,Chandigarh,0,0,4,778,2016-12-31
31,Dadra & Nagar Haveli*,10,273,1,316,2017-12-31
32,Daman & Diu,5,240,0,0,2015-12-31
33,Delhi,0,0,109,24383,2015-01-01
34,Lakshadweep,9,300,0,0,2016-01-01
35,Puducherry,3,96,11,3473,2016-01-01
36,INDIA,19810,279588,3772,431173,NaN

In [33]:
def clean_state_names(name):

    name = name.title().replace('&', 'and')
    
    words = name.split()
    camel_case = []
    for word in words:
        if word.lower() == 'and':
            camel_case.append('and')
        else:
            camel_case.append(word.capitalize())

    return ' '.join(camel_case)

hospital_data['State/UT'] = hospital_data['State/UT'].apply(clean_state_names)
hospital_data

,State/UT,Rural_Government_Hospitals,Rural_Government_Beds,Urban_Government_Hospitals,Urban_Government_Beds,Last_Updated
0,Andhra Pradesh,193,6480,65,16658,2017-01-01
1,Arunachal Pradesh*,208,2136,10,268,2017-12-31
2,Assam,1176,10944,50,6198,2017-12-31
3,Bihar,930,6083,103,5936,2016-12-31
4,Chhattisgarh,169,5070,45,4342,2016-01-01
5,Goa*,17,1405,25,1608,2017-12-31
6,Gujarat,364,11715,122,20565,2016-12-31
7,Haryana*,609,6690,59,4550,2016-12-31
8,Himachal Pradesh*,705,5665,96,6734,2017-12-31
9,Jammu and Kashmir,56,7234,76,4417,2016-12-30
10,Jharkhand,519,5842,36,4942,2015-12-31
11,Karnataka*,2471,21072,374,49093,2017-12-31
12,Kerala,981,16865,299,21139,2017-01-01
13,Madhya Pradesh,334,10020,117,18819,2016-01-01
14,Maharashtra,273,12398,438,39048,2015-12-31
15,Manipur,23,730,7,697,2014-01-01
16,Meghalaya*,143,1970,14,2487,2017-12-31
17,Mizoram*,56,604,34,1393,2017-12-31
18,Nagaland,21,630,15,1250,2015-12-31
19,Odisha*,1655,6339,149,12180,2017-12-31
20,Punjab*,510,5805,172,12128,2017-12-31
21,Rajasthan,602,21088,150,10760,2016-12-31
22,Sikkim*,24,260,9,1300,2017-12-31
23,Tamil Nadu*,692,40179,525,37353,2017-12-31
24,Telangana*,802,7668,61,13315,2017-12-31
25,Tripura*,99,1140,56,3277,2017-12-31
26,Uttar Pradesh*,4442,39104,193,37156,2017-12-31
27,Uttarakhand,410,3284,50,5228,2015-12-31
28,West Bengal,1272,19684,294,58882,2015-01-01
29,Andaman and Nicobar Islands,27,575,3,500,2016-12-31
30,Chandigarh,0,0,4,778,2016-12-31
31,Dadra and Nagar Haveli*,10,273,1,316,2017-12-31
32,Daman and Diu,5,240,0,0,2015-12-31
33,Delhi,0,0,109,24383,2015-01-01
34,Lakshadweep,9,300,0,0,2016-01-01
35,Puducherry,3,96,11,3473,2016-01-01
36,India,19810,279588,3772,431173,NaN

In [32]:
hospital_data.to_csv('Clean Data/government_hospital.csv', index=False)